
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/newsletter.css">
    <title>Newsletter</title>
</head>
<body>
    <%-include("partials/header"); -%>
    <div class="main-container">
     <h1>Newsletter</h1>
     <div class="newsletter-container">
        <%  newsletters.forEach(function(newsletter){ %>
    
            <div class="card mt-4">
                <div class="card-body">
                    <h1 class="card-title"><%= newsletter.title %></h1>
                    <div class="card-subtitle text-muted mb-2">
                        <%= newsletter.date %>
                    </div>
                    <div class="card-text mb-2"><%=newsletter.desc%> </div>
    
                    <a href="/newsletters/<%= newsletter._id %>">Read More</a>
                
            </div>
        </div>
   
    
        <% }) %>
     </div>

        <div class="subscribe">
            <h2 class="subscribe__title">Subscribe To Our Newsletter</h2>
            <form class="" action="/newsletter" method="post">
            <div class="form">
                <input type="text" class="form__email" name="email" placeholder="Ex. joelburns145@gmail.com" />
                <button class="btn btn-primary" type="submit" name="button">Publish</button>
            </div>
            </form>
    
        </div>
    </div>
</body>
<%- include("partials/footer"); -%>
</html>