
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/newsletter.css">
    <title>Newsletter</title>
</head>
<body>
    <%-include("partials/header"); -%>
    <div class="main-container">
    <div class="banner">
                    <img src="/img/newsletter.jpg">
                    
                    <div class="banner-text">
                        <h1>NEWSLETTERS</h1>
                        <h6>Read our monthly newsletters here!</h6>
                        <p>Photo by <a href="https://unsplash.com/@hudsoncrafted?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Debby Hudson</a> on <a href="https://unsplash.com/collections/1927196/newsletter?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a></p>

                        </p>
                    </div>
                    
                </div>
  
     <div class="newsletter-container">
        <div class="row">
            
        <%  newsletters.forEach(function(newsletter){ %>
                <div class="newsletter-card">
                    <div class="card-image">
                         <img src="/newsletter-img/<%=newsletter.image%>">
                    </div>
                    <div class="card-body">
                        <h1 class="card-title"><%= newsletter.title %></h1>
                        <div class="card-subtitle text-muted mb-2">
                        <%= newsletter.date %>
                        </div>
                        <div class="card-text"><%=newsletter.desc%> </div>
    
                        <h6><a href="/newsletters/<%= newsletter._id %>">Read More</a></h6>
                     </div>
                </div>
       <% }) %>

</div>
     </div>
     <div class="push">
     <div class="subscription-container">
        <div class="subscribe">
            <h6 class="subscribe__title">Subscribe To Our Newsletter</h6>
            <form class="" action="/newsletter" method="post">
            <div class="form">
                <input required type="text" class="form__email" name="email" placeholder="ex. joelburns145@gmail.com" />
                <button class="btn btn-primary" type="submit" name="button">SUBMIT</button>
            </div>
            </form>
    
        </div>
        </div>
        
    </div>
    <%- include("partials/footer"); -%>
    </div>
</body>

</html>