
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/volunteer.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Volunteering</title>
</head>
<body>
    <%-include("partials/header"); -%>
    <div class="main-container">
        <div class="banner">
            <img src="/img/joel.jpg">
            <div class="banner-text">
                <h1>VOLUNTEERING</h1>
                <h6>Local volunteering opportunities are updated here regularly.</h6>
                <p>Image Source: Photo by <a href="https://unsplash.com/@jmuniz?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Joel Muniz</a> on <a href="https://unsplash.com/?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
                </p>
            </div>
        </div>
    <div class="volunteer-container h-100">
            <%  volunteers.forEach(function(volunteer){ %>
            <div class="card">
                <div class="card-block">
                    <div class="card-title">
                    <h4><%= volunteer.title %></h4>
                    </div>
                    <div class="card-desc">
                    <p><%= volunteer.description %></p>
                    </div>
                    <div class="link">
                        <a href="<%= volunteer.link %>">CLICK FOR MORE INFORMATION</a>
                    </div>
                </div>
            </div>
            <% }) %>
    </div>
</div>
    <!--
    <div class="volunteer-container">
        <div class="title">
            <h1>VOLUNTEERING</h1>
            <p>Volunteering opportunities are updated on this page</p>
        </div>
        <%  volunteers.forEach(function(volunteer){ %>
            <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="box-part text-center">
                <h2 class="card-title"><%= volunteer.title %></h2>
                <div class="card-text">
                    <span><%= volunteer.description %></span>
                </div>
                <a href="<%= volunteer.link %>">Click Here To Apply</a>
            </div>
            <% }) %>
            </div>
        </div>
    </div> end of volunteer container-->
 <%- include("partials/footer"); -%>
    
</body>
</html>